@import 'images/image-product-mobile.jpg';

*, *::after, *::before {
    box-sizing: border-box;
}

:root {
    --main-bg-color : hsl(30, 38%, 92%);
    --card-bg-color : hsl(0, 0%, 100%);
    --dark-cyan : hsl(158, 36%, 37%);
    --link-hover-color : hsl(159, 36%, 30%);
    --primary-text-color : hsl(228, 12%, 48%);
    --heading-color : hsl(212, 21%, 14%);
}

body {
    margin: 0;
    font-family: 'Fraunces', sans-serif;
}

main {
    background: var(--main-bg-color);
    height: 100vh;
    width: 100% ;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.wrapper {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    height: 450px;
    align-items: center;
    justify-content: center;
    background: var(--card-bg-color);
    border-radius: 10px;
    box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.wrapper .left {
    height: 100%;
    width: 50%;
    position: relative;
}

.wrapper .right {
    height: 100%;
    width: 50%;
    padding: 20px 36px;
}

.image.img-desktop {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 10px 0 0 10px;
}

.img-mobile {
    display: none;
}

.desc {
    line-height: 150%;
}

.wrapper .right .content {
    top: 0;
    height: 100%;
    width: 100%;
}

.wrapper .right .content h1 {
    font-family: var(--Fraunces);
    font-weight: 700;
}

.wrapper .right .content .title {
    line-height: 100%;
    color: var(--heading-color);
}

.wrapper .right .content p {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: var(--primary-text-color);
}

.price {
    display: flex;
    gap: 20px;
    align-items: center;
}

.new-price {
    color: var(--dark-cyan);
}

.old-price {
    text-decoration: line-through;
}

.btn {
    padding: 15px 20px;
    background: var(--dark-cyan);
    display: flex;
    text-decoration: none;
    gap: 10px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    border-radius: 10px;
    color: var(--card-bg-color);
    width: 100%;
    align-items: center;
    justify-content: center;
}

.btn:hover {
    background: var(--link-hover-color);
}

.attribution {
    background: var(--card-bg-color);
    border-radius: 5px;
    padding: 10px;
    font-size: 11px; 
    text-align: center;
    box-shadow: 1px 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.attribution a {
    text-decoration: none;
    font-weight: 500;
    color: var(--dark-cyan);
}

@media (max-width: 650px) {
    .container {
        padding: 15px;
        overflow-y: scroll;
    }
    .wrapper {
        flex-direction: column;
        max-width: 300px;
        height: 550px;
    }

    .wrapper .left {
        height: 40%;
        width: 100%;
    }

    .wrapper .right {        
        height: 60%;
        width: 100%;
    }

    .hero {
        margin-top: 0;
    }

    .img-desktop {
        display: none;
    }

    .img-mobile {
        display: block;
        border-radius: 10px 10px 0 0;
        height: 100%;
        width: 100%;
    }

    .wrapper .right {
        padding: 10px;
    }

    .wrapper .right .content {
        padding: 10px;
    }

    .wrapper .right .content p {
        font-size: 10px;
    }

    .wrapper .right .content h1 {
        font-size: 25px;
    }

    .btn {
        padding: 10px;
    }
}